@import "tailwindcss";

:root {
  --background: #FBFBFB;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Typer les couleurs demandées par l'utilisateur */
  --color-primary: #FFDE77;
  --color-bg-principal: #FBFBFB;
  --color-icon: #E5E5E5;
  --color-gray-custom: #443C34;
  
  /* Définir la police principale */
  --font-sans: var(--font-baijamjuree), system-ui, -apple-system, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-baijamjuree), system-ui, -apple-system, sans-serif;
}

